@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-rendering: optimizeLegibility;
  font-kerning: auto
}

::selection {
  background-color: black;
  color: white;
}

html {
  font-size: 21px;
  -webkit-text-size-adjust: 100%
}

body {
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: white;
    color: black;
  }

  html {
    color-scheme: dark;
  }
}

.prose :any-link {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-4 decoration-[0.1em];
}

.prose iframe {
  width: 100%;
}
