---
---

@import "{{ site.theme }}";

#mainNav {
    border-bottom: 0;
    background-color: transparent;

    .navbar-toggler {
        display: none;
    }
    
    .navbar-brand {
        color: white;
        font-size: 0.8em;
    }
}

.profile {
    .navbar-brand {
        display: none;
    }
    .site-heading {
        padding-top: 5em !important;
        text-shadow: 1px 2px 3px #303031;
    }

    .avatar {
        width: 7em;
        height: 7em;
        margin-bottom: 1em;
    }

    .lead {
        font-size: 0.8em;
        color: #909091;
        margin-bottom: 3em;
    }

    hr:last-child {
        display: none;
    }
    
    @media only screen and (min-width: 768px) {
        .avatar {
            width: 10em;
            height: 10em;
            margin: -10em auto 1.2em;
        }

        .lead {
            font-size: 0.9em;
        }
    }
}

.masthead {
    .post-heading {
        text-shadow: 1px 2px 3px #303031;

        .subheading {
            margin: 1.5em 0 2em !important;
        }

        .meta {
            font-size: 0.8em !important;
        }
    }

    @media only screen and (min-width: 768px) {
        .post-heading {
            .subheading {
                margin: 1.5em 0 2em !important;
            }
        }
    }
}

.post-preview {
    & > a {
        & > .post-title {
            font-size: 1.2em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        & > .post-subtitle {
            @include serif-font;
            margin: 0 0 1em;
            font-size: 1.0em;
        }
        
        & > .post-meta {
            font-size: 0.8em;
        }
    }

    @media only screen and (min-width: 768px) {
        & > a {
            & > .post-title {
                font-size: 1.5em;
                margin-top: 1em;
                margin-bottom: 1em;
            }
    
            & > .post-subtitle {
                @include serif-font;
                margin: 0 0 1em;
                font-size: 1.3em;
            }
        }

        & > .post-meta {
            font-size: 0.8em;
        }
    }
}
